[Desktop Entry]
Version=1.0
Name=Telegram ICA
Comment=Telegram client by ICA
Comment[uk]=Застосівка НКБ для Telegram
Comment[ru]=Приложение НКБ для Telegram
Comment[ua]=Застосівка НКБ для Telegram
TryExec=tg-ica
Exec=tg-ica -- %u
Icon=telegram
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;telegram;
X-GNOME-UsesNotifications=true